@model BirthdayApp.Models.InvitationModel
@{
    ViewBag.Title = "InvitationForm";
}

<h2>InvitationForm</h2>
<div class="panel panel-success">
    <div class="panel-heading"><h4>You Are Invited</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(x =>x.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Mail:</label>
                @Html.TextBoxFor(x =>x.Mail, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Would you Join?</label>
                @Html.DropDownListFor(x=>x.JoinState, new[]
           {
               new SelectListItem() { Text = "Yes, I will.",
               Value = bool.TrueString},
               new SelectListItem() {Text = "No, I wont, sorry.", Value = bool.FalseString}
           }, "Would you come?", new { @class= "form-control" })
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        }
    </div>

</div>

